<div class="row">
  <div class="col-sm-6">
    <h1>Client <small>New</small></h1>
    <p><%= link_to "Back to Clients", clients_path %></p>

    <%= form_for @client, role: "form" do |f| %>
      <% if @client.errors.any? %>
        <div class="error_explanation">
          <div class="alert alert-danger">The form contains <%= pluralize @client.errors.count, "error" %>.</div>
          <ul>
            <% @client.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :company_name, "Company Name" %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :company_name, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
