<div class="row">
  <div class="col-sm-6">
    <h1>Client <small>New</small></h1>

    <%= form_for @client, role: "form" do |f| %>

      <div class="form-group">
        <%= f.label :company_name %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :company_name, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
