<h1>Clients <small>Home</small></h1>

<p><%= link_to "New Client", new_client_path %></p>

<table id="clients" class="table table-striped">
    <tr>
      <th>Company</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.company_name %></td>
      <td><%= client.name %></td>
      <td><%= client.email %></td>
      <td>
        <%= link_to edit_client_path(client), id: "#{client.id}-edit", class: "btn btn-primary btn-sm" do %>
          <span class="glyphicon glyphicon-edit"></span> 
        <% end %>

        <%= link_to client_path(client), id: "#{client.id}-delete", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do %>
          <span class="glyphicon glyphicon-remove"></span> 
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
