<!DOCTYPE html>
<html>
<head>
  <title>Invoices</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= nav_bar brand: "Fake Company", brand_link: root_path do %>
    <%= menu_group do %>
      <%= menu_item "Invoices", root_path %>
      <%= menu_item "Clients", clients_path %>
    <% end %>
  <% end %>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">x</a>
        <%= msg %>
      </div>
    <% end %>
    <div class="row"><%= yield %></div>
  </div>

</body>
</html>
